.game-form {
  width: 35rem;
  margin: 5rem auto;
}

.form-control label,
.form-control input {
  width: 100%;
  height: 2rem;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button {
  background: #d28e2a;
  font: inherit;
  border: 1px solid #d28e2a;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background: #d28e2a;
    border-color: #d28e2a;
}

.games-control {
  text-align: center;
  border: 1px solid #b4b0bb;
  padding: 1rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
}

.games__list {
  list-style: none;
  padding: 0;
}

.games__list-item {
  border: 1px solid #b4b0bb;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.games__list-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.games__list-button {
  background: #d28e2a;
  font: inherit;
  border: 1px solid #d28e2a;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.games__list-hidden{
  display: none;
}
